In [1]:
import pandas as pd
import numpy as np 
import requests

In [2]:
# Load the Amazon sales report CSV file into a DataFrame
df_raw = pd.read_csv("Resources/amazon_sale_report.csv",low_memory = False);

In [3]:
# Remove all duplicate rows from the DataFrame, keeping only unique rows
df_cleaned = df_raw.drop_duplicates(keep=False)

# Display the first few rows of the original DataFrame to check the data
df_raw.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [4]:
# Display the names of all columns in the DataFrame
df_raw.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [5]:
# Display information about the DataFrame
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

In [6]:
# Identify duplicate rows in the DataFrame
duplicates = df_raw[df_raw.duplicated(keep=False)]

# Print all duplicate rows
if not duplicates.empty:  # Check if the duplicates DataFrame is not empty
    print("Duplicate rows based on all columns:")
    print(duplicates)  # Print the duplicate rows
else:
    print("No duplicates found across all columns.")  # Inform if no duplicates exist

No duplicates found across all columns.

In [7]:
# Convert the 'ship-postal-code' column to string data type
df_raw['ship-postal-code'] = df_raw['ship-postal-code'].astype(str)

# Display information about the DataFrame, including the data types of each column
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128975 non-null  object
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(1), int64(2), object(20)
memory usage: 22.8+ MB

### above variables whether we should add sth like 0.00 etc.

In [8]:
# Remove any trailing '.0' from the 'ship-postal-code' column values
df_raw['ship-postal-code'] = df_raw['ship-postal-code'].str.replace(r'\.0$', '', regex=True)

# Strip whitespace from the column names
df_raw.columns = df_raw.columns.str.strip()

# Display the first few rows of the cleaned DataFrame
df_raw.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073,IN,NaN,False,NaN,NaN

In [9]:
# Create a new DataFrame by selecting specific columns and removing duplicates based on 'Order ID'
orders_df = df_raw[['Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel', 'ship-service-level', 'B2B']].drop_duplicates(subset=['Order ID'])

# Rename the columns for better readability and consistency
orders_df.columns = ['OrderID', 'Date', 'Status', 'Fulfilment', 'SalesChannel', 'ShipServiceLevel', 'B2B']

# Display the first few rows of the new DataFrame
orders_df.head()

,OrderID,Date,Status,Fulfilment,SalesChannel,ShipServiceLevel,B2B
0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,False
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,False
2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,True
3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,False
4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,False

In [10]:
# Create a new DataFrame by selecting specific columns and removing duplicates based on 'Order ID' and 'SKU'
products_df = df_raw[['SKU', 'Order ID', 'Style', 'Category', 'Qty', 'currency', 'Amount']].drop_duplicates(subset=['Order ID', 'SKU'])

# Rename the columns for better readability and consistency
products_df.columns = ['SKU', 'OrderID', 'Style', 'Category', 'Qty', 'Currency', 'Amount']

# Display the first few rows of the new DataFrame
products_df.head()

,SKU,OrderID,Style,Category,Qty,Currency,Amount
0,SET389-KR-NP-S,405-8078784-5731545,SET389,Set,0,INR,647.62
1,JNE3781-KR-XXXL,171-9198151-1101146,JNE3781,kurta,1,INR,406.00
2,JNE3371-KR-XL,404-0687676-7273146,JNE3371,kurta,1,INR,329.00
3,J0341-DR-L,403-9615377-8133951,J0341,Western Dress,0,INR,753.33
4,JNE3671-TU-XXXL,407-1069790-7240320,JNE3671,Top,1,INR,574.00

In [11]:
# Create a new DataFrame by selecting specific columns and removing duplicates based on 'Order ID'
shipping_df = df_raw[['Order ID', 'ship-city', 'ship-state', 'ship-postal-code', 'ship-country']].drop_duplicates(subset=['Order ID'])

# Rename the columns for better readability and consistency
shipping_df.columns = ['OrderID', 'ShipCity', 'ShipState', 'ShipPostalCode', 'ShipCountry']

# Display the first few rows of the new DataFrame
shipping_df.head()

               OrderID     ShipCity    ShipState ShipPostalCode ShipCountry
0  405-8078784-5731545       MUMBAI  MAHARASHTRA         400081          IN
1  171-9198151-1101146    BENGALURU    KARNATAKA         560085          IN
2  404-0687676-7273146  NAVI MUMBAI  MAHARASHTRA         410210          IN
3  403-9615377-8133951   PUDUCHERRY   PUDUCHERRY         605008          IN
4  407-1069790-7240320      CHENNAI   TAMIL NADU         600073          IN

In [24]:
# Making dataframes into our csv's for import into SQL
orders_df.to_csv("ETL_csv/orders_table.csv",index = False)
products_df.to_csv("ETL_csv/products_table.csv",index = False)
shipping_df.to_csv("ETL_csv/shipping_table.csv",index = False)

### Making a table with latitudes and longitdues of every city for our visual

In [13]:
def get_lat_long_google(city_name, api_key):
    url = f"https://maps.googleapis.com/maps/api/geocode/json?address={city_name}&key={api_key}"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        if data['results']:
            location = data['results'][0]['geometry']['location']
            return location['lat'], location['lng']
        else:
            return None, None
    else:
        return None, None

In [17]:
shipping_df['ShipCity'].unique().tolist()

['MUMBAI',
 'BENGALURU',
 'NAVI MUMBAI',
 'PUDUCHERRY',
 'CHENNAI',
 'GHAZIABAD',
 'CHANDIGARH',
 'HYDERABAD',
 'Chennai',
 'NOIDA',
 'Amravati.',
 'GUNTAKAL',
 'JAIPUR',
 'NEW DELHI',
 'Gurgaon',
 'TIRUCHIRAPPALLI',
 'pune',
 'TEZPUR',
 'RANCHI',
 'BILASPUR',
 'PUNE',
 'GUWAHATI',
 'THIRUVARUR',
 'LUCKNOW',
 'VISAKHAPATNAM',
 'JEYPUR',
 'THIRUVANANTHAPURAM',
 'GREATER NOIDA',
 'JABALPUR',
 'KOLKATA',
 'ONGOLE',
 'SECUNDERABAD',
 'KEWALPUR',
 'CUTTACK',
 'BADLAPUR',
 'dimapur',
 'WARANGAL',
 'DHAULPUR',
 'Bengaluru',
 'NAGPUR',
 'THANE',
 'Dahod',
 'VIJAPURA',
 'bangalore',
 'BERHAMPUR',
 'HIMMATNAGAR',
 'Kolkata',
 'DEHRADUN',
 'DHARMAPURI',
 'VADODARA',
 'CHAVAKKAD',
 'PATNA',
 'Jammu',
 'NARNAUND',
 'Ahmedabad',
 'AMBARNATH',
 'GWALIOR',
 'ROHTAK',
 'RAMAGUNDAM',
 'PITHORAGARH',
 'GUWAHATI, KAMRUP (M)',
 'KOLAR',
 'PATIALA',
 'REWA',
 'BONGAIGAON',
 'Chengalpattu',
 'PERAMBALUR',
 'VARANASI',
 'COIMBATORE',
 'CHIRMIRI',
 'AZAMGARH',
 'KALYAN',
 'MYSORE',
 'BARABANKI',
 'AMILA',
 'VIJAYAWADA',
 'RAWAN AMBUJA CEMENT PLANT',
 'HERBERTPUR',
 'KALAMASSERY',
 'Puri-2',
 'TIKABALI',
 'BIHARSHARIF',
 'PARAVUR',
 'BASTI',
 'WALAJAPET',
 'Dimapur',
 'Mahendragarh',
 'New Delhi',
 'GURUGRAM',
 'BIJNOR',
 'ALLAHABAD',
 'VASAI VIRAR',
 'MANGALURU',
 'NEW TOWN',
 'SAMBHAL',
 'ELAVANASURKOTTAI',
 'SANGLI MIRAJ KUPWAD',
 'MYSURU',
 'ANKLESHWR',
 'Greater Noida West',
 'JAMMU',
 'ITANAGAR',
 'KARANJA',
 'NIMBAHERA',
 'Imphal East',
 'BIDHAN NAGAR',
 'AHMEDABAD',
 'BHUBANESWAR',
 'ALIGARH',
 'KOCHI',
 'Bangalore',
 'MALAPPURAM',
 'SIBSAGAR',
 'GAYA',
 'KOLLAM',
 'PERALASSERI',
 'UDUPI',
 'MARIANI',
 'COOCH BEHAR',
 'JHARIA KHAS',
 'Secunderabad',
 'UDAIPUR',
 'BHAGALPUR',
 'BERHAMPORE',
 'Dehradun',
 'SEONI',
 'Agra',
 'Nermand',
 'KAMAREDDY',
 'SRINAGAR',
 'MUDDEBIHAL',
 'SANTHAMAGULURU MANDAL',
 'Hyderabad',
 'KOLKATA 700034',
 'kolkata',
 'BARUIPUR',
 'KENDRAPARA',
 'NASHIK',
 'HOSHIARPUR',
 'BARSHI',
 'CHANDI MANDIR',
 'ujjain',
 'Haldwani',
 'Uttarkashi',
 'Old Goa',
 'MAHESHWAR',
 'HARDOI',
 'SHILLONG',
 'DHAMNOD DHAR DISTRICT',
 'CHAKDAHA',
 'CHIKKAMAGALURU',
 'MALDA',
 'DIMAPUR',
 'Nellore',
 'CUNCOLIM',
 'trivandrum',
 'KANPUR',
 'CHINNALAPATTI',
 'BAGESHWAR',
 'BARRACKPORE',
 'Dombivali  east',
 'New delhi',
 'Pune',
 'Pathanapuram',
 'JAUNPUR',
 'SOLAPUR',
 'MAHBUBNAGAR',
 'Nk sweets Vikasnagar',
 'DARJEELING',
 'LUDHIANA',
 'MUZAFFARPUR',
 'Sonbhadra',
 'KAKINADA',
 'HALDIA',
 'Tivim',
 'MANDVI KACHCHH DISTRICT',
 'SAMBALPUR',
 'KANNIYAKUMARI',
 'Chinchwad ,Pune',
 'PURNIA',
 'TADEPALLIGUDEM',
 'Ghaziabad',
 'AKOLA',
 'JORHAT',
 'RAMANAGARA',
 'Vijayapur',
 'BOKARO STEEL CITY',
 'KHAMMAM',
 'AURANGABAD',
 'GADARWARA',
 'SHIRDI',
 'VELLORE',
 'noida',
 'Mangaluru',
 'SINGRAULI',
 'THRIPPUNITHURA',
 'KENDUJHAR',
 'Nerul',
 'IMPHAL',
 'PALASBARI',
 'Chikkaballapur',
 'Andul near maya stores',
 'Mumbai',
 'SURAT',
 'CHITTOOR',
 'KADUR',
 'SURATGARH',
 'MIRA ROAD',
 'DINANAGAR',
 'ARAKANDANALLUR',
 'BHOPAL',
 'GURGAON',
 'Bhatgaon',
 'BHANJANAGAR',
 'MADHURAWADA',
 'ALMORA',
 'PRODDATUR',
 'SHRIGONDA',
 'FAIZABAD',
 'BHIWADI',
 'BANGALORE',
 'Vadodara',
 'Malda',
 'GUNTUR',
 'ROORKEE',
 'Golabandha',
 'BHATPARA',
 'Palampur',
 'PICHHORE SHIVPURI DISTRICT',
 'SIKANDARABAD INDUSTRIAL AREA',
 'MAVELIKKARA',
 'QADIAN',
 'KALABURGI',
 'Rangareddy',
 'DHARMANAGAR',
 'Jhajjar',
 'JAMSHEDPUR',
 'MEERUT',
 'GORAKHPUR',
 'MUDBIDRI',
 'VASCO DA GAMA',
 'NADIAD',
 'Janipur',
 'Nagpur',
 'KANPURKanpur',
 'Hamirpur',
 'AMRITSAR',
 'PALI',
 'BASSEIN',
 'THIRUVALLA',
 'AMBASAMUDRAM',
 'Pathanamthitta',
 'Vizianagaram',
 'CHITTOOR district',
 'RAE BARELI',
 'Benipur',
 'KHATIMA',
 'ERODE',
 'Ulhasnagar',
 'INDORE',
 'HALWARA',
 'Neelakudi, Thiruvarur',
 'SHIMLA',
 'DARBHANGA',
 'BURDWAN',
 'MIHAN',
 'KHURJA',
 'Choglamsar',
 'YAVATMAL',
 'Allahabad',
 'REDHAKHOL',
 'FARIDABAD',
 'FARIDPUR BAREILLY DISTRICT',
 'Rourkela',
 'VIZIANAGARAM',
 'DHARWAD',
 'DAULATPUR',
 'JALNA',
 'KARIMNAGAR',
 'ARVI,Dist- wardha',
 'Kurseong',
 'NANDURA',
 'DIU',
 'MUMBAI 400101',
 'PONNERI',
 'SERAMPORE',
 'Kinnigoli',
 'MIRZAPUR CUM VINDHYACHAL',
 'DIBRUGARH',
 'Deganga',
 'KARIMGANJ',
 'ALATHUR',
 'Aluva',
 'CHENGAMANAD',
 'NIZAMABAD',
 'LONI KALBHOR',
 'KHELARI',
 'Mira road',
 'GHAZIPUR',
 'KATIHAR',
 'NAGERCOIL',
 'KOTHAGUDEM',
 'BHINDER',
 'JALANDHAR',
 'NARASAPUR',
 'PALAKKAD',
 'PARVATHIPURAM',
 'SATNA',
 'Padur',
 'MADURAI',
 'BALLIA',
 'DEVARAKONDA',
 'THRISSUR',
 'DANGUWAPASI',
 'DHEMAJI',
 'PULGAON',
 'AKATHIYOOR',
 'Shakarpur',
 'Imphal east',
 'CHEBROLU',
 'Alappuzha',
 'AKBARPUR',
 'NABAGRAM COLONY',
 'KOZHIKODE',
 'NELAMANGALA',
 'KOTPAD, Koraput',
 'ALAPPUZHA',
 'BAREILLY',
 'TIRORA',
 'ZIRAKPUR',
 'AJMER',
 'MADIKERI',
 'Thrissur',
 'Dungarpur',
 'PANCHKULA',
 'DHOLKA',
 'DALTONGANJ',
 'BATHINDA',
 'KAMATGI,Hunugund taluk,Bagalkot district',
 'ARNI',
 'MORBI',
 'Jorhat',
 'Bantwal',
 'GANJAM',
 'DEWAS',
 'NAGAUR',
 'NEYYATTINKARA',
 'SILIGURI',
 'KUSHALANAGARA',
 'SIMLAPAL',
 'NARKATIAGANJ',
 'Wagholi, PUNE',
 'KOHIMA',
 'Surat',
 'THANE (W)',
 'PORVORIM',
 'Vasai',
 'SANGLI',
 'KOTTAYAM',
 'DHARMADOM',
 'NATHDWARA',
 'Varanasi',
 'ULLAL',
 'NANDED WAGHALA',
 'Sangareddy District',
 'Madurai',
 'thane',
 'BELAGAVI',
 'Kanniyakumari',
 'hyderabad',
 'ISNAPUR',
 'BASUDEBPUR',
 'PUTTAPARTHI',
 'BISWAN',
 'VILLUPURAM',
 'KAMPUR TOWN',
 'BARASAT',
 'Lakkavaram',
 'Hazaribagh',
 'MEERUT CANTT',
 'MATHURA',
 'Naigoan',
 'BHILAI',
 'JIND',
 'SANAND',
 'HOSKOTE',
 'PIMPRI CHINCHWAD',
 'Motihari',
 'davangere',
 'Jetpur',
 'RAIGANJ',
 'Noida extension',
 'DOHAD',
 'KARNAL',
 'Lonavala',
 'DEORIA',
 'Dombivli west',
 'YERRAGUNTLA',
 'Mandi',
 'JODHPUR',
 'SRIPERUMBUDUR',
 'HUBBALLI',
 'Satna',
 'SIDHI',
 'AGARTALA',
 'Durganagar ,Nimta south',
 'DURG',
 'KARIMPUR',
 'MUSTAFABAD',
 'Koothparamba',
 'ERNAKULAM',
 'Kattangal',
 'SIKAR',
 'Ranchi',
 'Dabi',
 'ARWAL',
 'PAKAUR',
 'PHIRANGIPURAM',
 'DHANBAD',
 'PUNJAIPULIAMPATTI',
 'ATTUR',
 'KADAPA',
 'Badlapur',
 'UDAIPURudipur',
 'ADAMPUR',
 'SATHUPALLY',
 'Bhubaneswar',
 'CHAMARAJANAGAR, district and subdistrict',
 'KRISHNAGIRI',
 'TUMAKURU',
 'UNNAO',
 'KAWARDHA',
 'BHANDARA',
 'Ponda',
 'BHILWARA',
 'SOHNA',
 'KANNAMANGALAM ALAPPUZHA DISTRICT',
 'DARWHA',
 'GANDHINAGAR',
 'TIRUR',
 'Dharmapuri',
 'KADUNGALLOOR',
 'mumbai',
 'NELLORE',
 'KANCHEEPURAM',
 'GAUTAM BUDDHA NAGAR',
 'KHANDWA',
 'MURWARA KATNI',
 'MAJHAULIA',
 'DAMAN',
 'MADUKKARAI',
 'Karunagappally',
 'Navi Mumbai',
 'Kalyan West',
 'Sangli',
 'Rishra',
 'Aurangabad',
 'Berhampur',
 'BELTANGADI',
 'Pedaamiram',
 'BIJPUR',
 'WARDHA',
 'FATEHABAD',
 'KADEGAON',
 'KONNAGAR',
 'MULAMTHURUTHY',
 'Totu',
 'UDMA',
 'RAYAGIRI',
 'Navsari',
 'BARNALA',
 'MANDYA',
 'Dombivli(E)',
 'KANCHIPURAM',
 'KANNUR',
 'MUMBAI,Malad West,Malvani.',
 'VILAYAT GIDC',
 'SIPCOT PERUNDURAI',
 'Maraimalainagar',
 'Kishanganj',
 'BETTIAH',
 'Dist Alipurduar',
 'BARSUR',
 'PANMANA',
 'sankra',
 'NAMCHI',
 'Ahemdabad',
 'SIDCUL HARIDWAR',
 'BOISAR',
 'THODUPUZHA',
 'Gurugram',
 'THIRUVIDAIMARUDUR',
 'JHUMRI TILAIYA',
 'LEH',
 'DURGAPUR',
 'JSW STEEL PLANT TOWNSHIP',
 'PUDUPAKKAM',
 'MUGHALSARAI',
 'Colachal, Kanya Kumari District',
 'ANJUNA Bardez Go',
 'NEW TOWN, Kolkata',
 'VARANAS',
 'Edapally',
 'CHAMBA',
 'Vaduthala,Kochi',
 'BETUL BAZAR',
 'VENNANDUR',
 'DAVANAGERE',
 'SALUR',
 'SATARA',
 'Debra',
 'Agartala',
 'EGRA',
 'town.budhana village. Husainpur kalan',
 'TRAL',
 'Panchkula',
 'Lucknow',
 'NAJIBABAD',
 'Greater NOIDA',
 'SRUNGAVARAPUKOTA',
 'TAKHATPUR',
 'MANIYAT',
 'MEDINIPUR',
 'RISHIKESH',
 'Dobiwali',
 'WCL UMRED',
 'SUNDARGARH',
 'SADASIVPET',
 'Thiruvananthapuram',
 'AGRA',
 'LUCKNOWLucknow',
 'dwarka',
 'Kottayam',
 'THOOTHUKKUDI',
 'BAMBOLIM',
 'SONIPAT',
 'chentrappinni',
 'RATNAGIRI',
 'BANGALORE, KARNATAKA',
 'ARNIA',
 'Tirunelveli',
 'PARDI',
 'ETMADPUR',
 'ISAGARH',
 'MORADABAD',
 'Kalyan',
 'joshi road karol bagh new Delhi',
 'AVANIGADDA',
 'RAIGARH MH',
 'Maheswaram mandal',
 'THANE west',
 'KHARAGPUR',
 'NAVSARI',
 'UTEKHOL',
 'Mysore',
 'ANANTAPUR',
 'Payyannur',
 'KARANJA Lad',
 'SAMASTIPUR',
 'OSMANABAD',
 'RAICHUR',
 'ANDIPATTI JAKKAMPATTI',
 'MARGAO',
 'KARWAR',
 'MAHNAR BAZAR',
 'HAZARIBAGH',
 'Vizianagaram a',
 'ARAKONAM',
 'INDUSTRIAL AREA DEVAKATHIKOPPA AND SIDLIPURA',
 'HARIDWAR',
 'PUTTUR',
 'Tuchamakeri',
 'SIWAN',
 'KANDIVALI (E), MUMBAI',
 'Patna',
 'JANGAON',
 'Ernakulam',
 'MERTA CITY',
 'RANNI',
 'DIGRAS',
 'ELURU',
 'NORTH GUWAHATI',
 'KANCHRAPARA',
 'Dindigul',
 'HUGLI CHINSURAH',
 'CHIRAWA',
 'PONDA',
 'HOOVINA HADAGALLI',
 'Ratia',
 'Kakkanadu.Ernakulam',
 'INDRI',
 nan,
 'MUDHOL',
 'Jodhpur',
 'MAHABUBNAGAR',
 'RAJAHMUNDRY',
 'Chidambaram',
 'VADAKARA',
 'THANJAVUR',
 'PARLAKHEMUNDI',
 'BANGAON',
 'BHARUCH',
 'SATTENAPALLI(md),guntur(dt)',
 'MAHINDRA WORLD CITY',
 'GOBARDANGA',
 'chennai',
 'Bihta Patna District',
 'BANDA',
 'DEOGHAR',
 'ALUVA',
 'SOUTH GOA',
 'DHARUHERA',
 'Hisar',
 'AMBALA',
 'DELHI',
 'BUDAUN',
 'UPPER TADONG',
 'VAPI',
 'KHORDHA',
 'DHULE',
 'Gwalior',
 'Thane',
 'Ratanpota',
 'LONI',
 'CHERUTHAZHAM',
 'GUDIYATHAM',
 'Vinukonda',
 'RUDRAPUR',
 'Vikarabad',
 'ANAKAPALLE',
 'RAJKOT',
 'RAIPUR',
 'CHERANALLUR',
 'PALAM',
 'PATHANAMTHITTA',
 'Mauganj',
 'JAMTARA',
 'Port Blair',
 'Paliganj',
 'HSIIDC SOHNA',
 'Konavattam',
 'BIKANER',
 'DERA BASSI INDUSTRIAL AREA',
 'SULUR',
 'BAHERI',
 'PIPARIYA',
 'GURDASPUR',
 'PALACOLE',
 'Vellichantai',
 'Mecheda',
 'THIRUVALLUR',
 'HASSAN (Amazon Arun)',
 'Mohali',
 'TINSUKIA',
 'YAMUNANAGAR',
 'GUNUPUR',
 'NAMAKKAL',
 'LUMDING',
 'agartala',
 'FIROZPUR',
 'MOHALI',
 'SUKDAL',
 'GONDIYA',
 'Burdwan',
 'CHITRADURGA',
 'BODINAYAKANUR',
 'OBRA sonebhadra',
 'MADDUR',
 'KARUR',
 'Cuttack',
 'SEDAM',
 'KASHIPUR',
 'ASANSOL',
 'PUDUKKOTTAI',
 'JALGAON',
 'GIRIDIH',
 'AZHIYUR',
 'Kamtaul',
 'MANDLA',
 'BHIMAVARAM',
 'CHANDIGAR',
 'MUMBAI dadar  west',
 'LACHHMANGARH',
 'SHIVAMOGGA',
 'Bhatapara',
 'HASSAN',
 'JUGAULI',
 'Sambalpur',
 'RATNAPUR',
 'DONGARGARH',
 'FATEHGARH',
 'BINDKI',
 'Navi Mumbai,',
 'PIPILI',
 'BHARWARI',
 'UJJAIN',
 'BIDAR',
 'NAVELIM',
 'KRISHNAPURAM',
 'NARPALA',
 'MADHUBANI',
 'RANIPETTAI',
 'AHMADNAGAR',
 'Hailakandi',
 'Gangapur city',
 'RISOD',
 'Nanded',
 'Noida',
 'BUXAR',
 'MANGATTIDAM',
 'phanigiri road,Chaitanyapuri,Hyderabad',
 'SUPAUL',
 'TIRUNELVELI',
 'PALLIPALAYAM',
 'NEW DELHI-110075',
 'HOWRAH',
 'KOTDWARA',
 'sriganganagar',
 'TIRUPPUR',
 'navi mumbai',
 'KARKAL',
 'DULIAJAN',
 'Andheri',
 'ORATHANADU',
 'GONDAL',
 'NARIKOMBU',
 'PHALTAN',
 'JANGAREDDIGUDEM',
 'KORBA',
 'Delhi',
 'NILOKHERI',
 'Pattambi',
 'THRIKKARUVA',
 'Banswara',
 'DAPOLI',
 'Bellary',
 'TIRUPATI',
 'JHANSI',
 'KARAIKAL',
 'TIRUPATHUR SIVAGANGA DISTRICT',
 'Vazhakkala',
 'Dhasai, shahapur',
 'BAHRAICH',
 'SOLAN',
 'Bhimavaram',
 'Koyyalagudem',
 'CHAMARAJANAGAR',
 'KALIMPONG',
 'BILIMORA',
 'TALIPARAMBA',
 'SHAHADA',
 'UPPALAGUPTAM',
 'VARANGAON',
 'BHATAPARA',
 'BAGRU',
 'ARMUR',
 'PARASI/Anpara',
 'Srikakulam',
 'CHENDAMANGALAM',
 'NASIK',
 'Forbesganj',
 'EDDUMAILARAM',
 'ANKLESHWAR',
 'MIRGANJ',
 'CHENGANNUR',
 'CHOCKLI',
 'Azamgarh',
 'SHEOPUR',
 'Bhatni bazar (Deoria)',
 'ETTUMANOOR',
 'PATAUDI',
 'SULTANPUR',
 'Chittoor District',
 'Kakkanad',
 'VAISHALI',
 'KOLHAPUR',
 'SRIKAKULAM',
 'Navi Mumbai,THANE',
 'Bandel',
 'Ilayangudi, Sivagangai',
 'PANIHATI',
 'MAHESANA',
 'Banaswadi, Bengaluru',
 'Jalgaon',
 'Kancheepuram',
 'PERIYAKULAM',
 'Razam',
 'RAXAUL BAZAR',
 'UDALGURI',
 'BADLI',
 'ahmedabad',
 'BHABHAR',
 'MATTANNUR',
 'VILLIAPPALLY',
 'KARNAPRAYAG',
 'Guntur dist ponnur',
 'BUNGAL',
 'KADIKKAD',
 'Bhilai',
 'THALAKKULATHUR',
 'BHUNTAR',
 'Hooghly',
 'DIGBOI',
 'REWARI',
 'HOSUR',
 'JAGTIAL',
 'CACHAR',
 'BEAWAR',
 'BUTIBORI',
 'Bhiwandi',
 'JAMKHANDI',
 'NEDUMANGAD',
 'Raipur',
 'SRI GANGANAGAR',
 'CHANCHAL',
 'KURUKSHETRA',
 'RAJPUR SONARPUR',
 'LALA',
 'HAILAKANDI',
 'NALGONDA',
 'Coochbehar',
 'PONDYCHERRY',
 'Margao',
 'BALAGHAT',
 'Amtady',
 'HALIYAL',
 'SHAHJAHANPUR',
 'ALLAPALLI',
 'SHAHDOL',
 'BELA PRATAPGARH',
 'UNA',
 'IMPHAL WEST',
 'TAMNAR',
 'UDHAMPUR',
 'ADDAKAL',
 'RAIA',
 'GAGRET INDUSTRIAL AREA',
 'PALLICHAL',
 'SHIVPURI',
 'MUZAFFARNAGAR',
 'Kanpur',
 'KANAKAMMACHATHRAM',
 'Bangalore North',
 'Mahadevapura, Bangalore',
 'PIDUGURALLA',
 'Ramapuram Chennai',
 'Damdim, jalpaiguri',
 'Kalady',
 'ARRAH',
 'PALAI',
 'Visakhapatnam',
 'TITABOR TOWN',
 'NALAGARH',
 'delhi',
 'KANINA',
 'JAMNAGAR',
 'BHACHAU',
 'ADALAJ',
 'Hanumangarh junction',
 'Alipurduat',
 'CHURU',
 'Bilaspur',
 'BALLEPALLE',
 'PANIPAT',
 'SASARAM',
 'TRIVANDRUM',
 'Pollachi',
 'RUSHIKONDA APIIC',
 'BARDHAMAN',
 'RATLAM',
 'PANDARIA',
 'MEDAK',
 'GADHINGLAJ',
 'PIMPRI CHINCHWAD Pune',
 'URAVAKONDA',
 'WALUJ MIDC',
 'Kottakkal',
 'Mukkom',
 'ROBERTSGANJ',
 'JATANI',
 'DEOBAND',
 'Irakasandra',
 'Jamshedpur',
 'Shahdara',
 'Hunsur',
 'Dharwad',
 'Venjarammoodu,thiruvananthapuram',
 'GUA',
 'RAYADURG',
 'MORENA',
 'BULANDSHAHR',
 'PARAVOOR',
 'FATEHPUR FATEHPUR DISTRICT',
 'Pimpri Chinchwad',
 'PATTIOM',
 'Bilimora',
 'Hubballi',
 'KURUD',
 'Vilangad',
 'Durgapur',
 'KANHANGAD',
 'MIRYALAGUDA',
 'Jaipur',
 'Muzzafarnagar',
 'MODINAGAR',
 'TALLAPUDI',
 'MOKOKCHUNG',
 'MUMBAI -400064',
 'Manjeri',
 'TONK',
 'SULLURU',
 'CHIDAMBARAM',
 'BINA',
 'Faridabad',
 'AROOR',
 'TIRUTTANI',
 'SANGAREDDY',
 'Coimbatore',
 'HINDALCO INDUSTRIES LTD',
 'SAHARANPUR',
 'MANNARKAD',
 'Bettiyah',
 'Lathi',
 'Sikar',
 'SHERGHATI',
 'SULYA',
 'Khargone',
 'CURCHOREM',
 'Karur',
 'OOTY',
 'SAHARSA',
 'IROOPARA',
 'Avinashi, Tirupur',
 'Port blair',
 'SITAMARHI',
 'Vasai(west)',
 'MAYILADUTHURAI',
 'KANGRA',
 'dehradun',
 'KANDUKUR',
 'Derlakkatte',
 'THARAMANGALAM',
 'Mathura',
 'BANTVAL',
 'CHITTAURGARH',
 'Anand',
 'BASMATH',
 'IMPHAL East',
 'AMBUR',
 'Vandipettai, Kurukupuram, Rasipuram, Namakkal',
 'VALSAD',
 'Barrackpore',
 'SANGAMNER',
 'PETLAD',
 'Krishna District',
 'MANDVI SURAT DISTRICT',
 'Tumkur district',
 'Jagatdal',
 'Kotra Road ,Raigarh',
 'Danapur',
 'Balaghat',
 'BERI',
 'MAPUSA',
 'GANGTOK',
 'KALAMNURI',
 'PEDAPARUPUDI',
 'RAYACHOTI',
 'GUDUVANCHERY',
 'ICHALKARANJI',
 'SOUTH ANDAMAN',
 'Sabbavaram,Visakhapatnam',
 'Veraval',
 'KRISHNAPUR HUGLI DISTRICT',
 'KOLLEGAL',
 'Kalachowki Mumbai',
 'CURTORIM',
 'P.O.CHIRAKKAL',
 'RAJAM',
 'AMBIKAPUR',
 'Sant kabirnagar.',
 'BangaLore',
 'BAHJOI',
 'P.N.PATTI',
 'CHANDRAPUR',
 'Dombivli-East',
 'RAJGARH DHAR DISTRICT',
 'Ambikapur',
 'BALLY',
 'KANJIKODE INDUSTRIAL AREA',
 'NAKREKAL',
 'SAGAR',
 'Kandivali (W)',
 'MUMBAI 400023',
 'NEW DELHIhbjo',
 'BAHADURGARH',
 'MANDI DABWALI',
 'PEDDAPURAM',
 'NADIM TIRUVURU',
 'gorakhpur',
 'Panaji',
 ...]

In [21]:
cities = shipping_df['ShipCity'].unique()
cities.tolist()

['MUMBAI',
 'BENGALURU',
 'NAVI MUMBAI',
 'PUDUCHERRY',
 'CHENNAI',
 'GHAZIABAD',
 'CHANDIGARH',
 'HYDERABAD',
 'Chennai',
 'NOIDA',
 'Amravati.',
 'GUNTAKAL',
 'JAIPUR',
 'NEW DELHI',
 'Gurgaon',
 'TIRUCHIRAPPALLI',
 'pune',
 'TEZPUR',
 'RANCHI',
 'BILASPUR',
 'PUNE',
 'GUWAHATI',
 'THIRUVARUR',
 'LUCKNOW',
 'VISAKHAPATNAM',
 'JEYPUR',
 'THIRUVANANTHAPURAM',
 'GREATER NOIDA',
 'JABALPUR',
 'KOLKATA',
 'ONGOLE',
 'SECUNDERABAD',
 'KEWALPUR',
 'CUTTACK',
 'BADLAPUR',
 'dimapur',
 'WARANGAL',
 'DHAULPUR',
 'Bengaluru',
 'NAGPUR',
 'THANE',
 'Dahod',
 'VIJAPURA',
 'bangalore',
 'BERHAMPUR',
 'HIMMATNAGAR',
 'Kolkata',
 'DEHRADUN',
 'DHARMAPURI',
 'VADODARA',
 'CHAVAKKAD',
 'PATNA',
 'Jammu',
 'NARNAUND',
 'Ahmedabad',
 'AMBARNATH',
 'GWALIOR',
 'ROHTAK',
 'RAMAGUNDAM',
 'PITHORAGARH',
 'GUWAHATI, KAMRUP (M)',
 'KOLAR',
 'PATIALA',
 'REWA',
 'BONGAIGAON',
 'Chengalpattu',
 'PERAMBALUR',
 'VARANASI',
 'COIMBATORE',
 'CHIRMIRI',
 'AZAMGARH',
 'KALYAN',
 'MYSORE',
 'BARABANKI',
 'AMILA',
 'VIJAYAWADA',
 'RAWAN AMBUJA CEMENT PLANT',
 'HERBERTPUR',
 'KALAMASSERY',
 'Puri-2',
 'TIKABALI',
 'BIHARSHARIF',
 'PARAVUR',
 'BASTI',
 'WALAJAPET',
 'Dimapur',
 'Mahendragarh',
 'New Delhi',
 'GURUGRAM',
 'BIJNOR',
 'ALLAHABAD',
 'VASAI VIRAR',
 'MANGALURU',
 'NEW TOWN',
 'SAMBHAL',
 'ELAVANASURKOTTAI',
 'SANGLI MIRAJ KUPWAD',
 'MYSURU',
 'ANKLESHWR',
 'Greater Noida West',
 'JAMMU',
 'ITANAGAR',
 'KARANJA',
 'NIMBAHERA',
 'Imphal East',
 'BIDHAN NAGAR',
 'AHMEDABAD',
 'BHUBANESWAR',
 'ALIGARH',
 'KOCHI',
 'Bangalore',
 'MALAPPURAM',
 'SIBSAGAR',
 'GAYA',
 'KOLLAM',
 'PERALASSERI',
 'UDUPI',
 'MARIANI',
 'COOCH BEHAR',
 'JHARIA KHAS',
 'Secunderabad',
 'UDAIPUR',
 'BHAGALPUR',
 'BERHAMPORE',
 'Dehradun',
 'SEONI',
 'Agra',
 'Nermand',
 'KAMAREDDY',
 'SRINAGAR',
 'MUDDEBIHAL',
 'SANTHAMAGULURU MANDAL',
 'Hyderabad',
 'KOLKATA 700034',
 'kolkata',
 'BARUIPUR',
 'KENDRAPARA',
 'NASHIK',
 'HOSHIARPUR',
 'BARSHI',
 'CHANDI MANDIR',
 'ujjain',
 'Haldwani',
 'Uttarkashi',
 'Old Goa',
 'MAHESHWAR',
 'HARDOI',
 'SHILLONG',
 'DHAMNOD DHAR DISTRICT',
 'CHAKDAHA',
 'CHIKKAMAGALURU',
 'MALDA',
 'DIMAPUR',
 'Nellore',
 'CUNCOLIM',
 'trivandrum',
 'KANPUR',
 'CHINNALAPATTI',
 'BAGESHWAR',
 'BARRACKPORE',
 'Dombivali  east',
 'New delhi',
 'Pune',
 'Pathanapuram',
 'JAUNPUR',
 'SOLAPUR',
 'MAHBUBNAGAR',
 'Nk sweets Vikasnagar',
 'DARJEELING',
 'LUDHIANA',
 'MUZAFFARPUR',
 'Sonbhadra',
 'KAKINADA',
 'HALDIA',
 'Tivim',
 'MANDVI KACHCHH DISTRICT',
 'SAMBALPUR',
 'KANNIYAKUMARI',
 'Chinchwad ,Pune',
 'PURNIA',
 'TADEPALLIGUDEM',
 'Ghaziabad',
 'AKOLA',
 'JORHAT',
 'RAMANAGARA',
 'Vijayapur',
 'BOKARO STEEL CITY',
 'KHAMMAM',
 'AURANGABAD',
 'GADARWARA',
 'SHIRDI',
 'VELLORE',
 'noida',
 'Mangaluru',
 'SINGRAULI',
 'THRIPPUNITHURA',
 'KENDUJHAR',
 'Nerul',
 'IMPHAL',
 'PALASBARI',
 'Chikkaballapur',
 'Andul near maya stores',
 'Mumbai',
 'SURAT',
 'CHITTOOR',
 'KADUR',
 'SURATGARH',
 'MIRA ROAD',
 'DINANAGAR',
 'ARAKANDANALLUR',
 'BHOPAL',
 'GURGAON',
 'Bhatgaon',
 'BHANJANAGAR',
 'MADHURAWADA',
 'ALMORA',
 'PRODDATUR',
 'SHRIGONDA',
 'FAIZABAD',
 'BHIWADI',
 'BANGALORE',
 'Vadodara',
 'Malda',
 'GUNTUR',
 'ROORKEE',
 'Golabandha',
 'BHATPARA',
 'Palampur',
 'PICHHORE SHIVPURI DISTRICT',
 'SIKANDARABAD INDUSTRIAL AREA',
 'MAVELIKKARA',
 'QADIAN',
 'KALABURGI',
 'Rangareddy',
 'DHARMANAGAR',
 'Jhajjar',
 'JAMSHEDPUR',
 'MEERUT',
 'GORAKHPUR',
 'MUDBIDRI',
 'VASCO DA GAMA',
 'NADIAD',
 'Janipur',
 'Nagpur',
 'KANPURKanpur',
 'Hamirpur',
 'AMRITSAR',
 'PALI',
 'BASSEIN',
 'THIRUVALLA',
 'AMBASAMUDRAM',
 'Pathanamthitta',
 'Vizianagaram',
 'CHITTOOR district',
 'RAE BARELI',
 'Benipur',
 'KHATIMA',
 'ERODE',
 'Ulhasnagar',
 'INDORE',
 'HALWARA',
 'Neelakudi, Thiruvarur',
 'SHIMLA',
 'DARBHANGA',
 'BURDWAN',
 'MIHAN',
 'KHURJA',
 'Choglamsar',
 'YAVATMAL',
 'Allahabad',
 'REDHAKHOL',
 'FARIDABAD',
 'FARIDPUR BAREILLY DISTRICT',
 'Rourkela',
 'VIZIANAGARAM',
 'DHARWAD',
 'DAULATPUR',
 'JALNA',
 'KARIMNAGAR',
 'ARVI,Dist- wardha',
 'Kurseong',
 'NANDURA',
 'DIU',
 'MUMBAI 400101',
 'PONNERI',
 'SERAMPORE',
 'Kinnigoli',
 'MIRZAPUR CUM VINDHYACHAL',
 'DIBRUGARH',
 'Deganga',
 'KARIMGANJ',
 'ALATHUR',
 'Aluva',
 'CHENGAMANAD',
 'NIZAMABAD',
 'LONI KALBHOR',
 'KHELARI',
 'Mira road',
 'GHAZIPUR',
 'KATIHAR',
 'NAGERCOIL',
 'KOTHAGUDEM',
 'BHINDER',
 'JALANDHAR',
 'NARASAPUR',
 'PALAKKAD',
 'PARVATHIPURAM',
 'SATNA',
 'Padur',
 'MADURAI',
 'BALLIA',
 'DEVARAKONDA',
 'THRISSUR',
 'DANGUWAPASI',
 'DHEMAJI',
 'PULGAON',
 'AKATHIYOOR',
 'Shakarpur',
 'Imphal east',
 'CHEBROLU',
 'Alappuzha',
 'AKBARPUR',
 'NABAGRAM COLONY',
 'KOZHIKODE',
 'NELAMANGALA',
 'KOTPAD, Koraput',
 'ALAPPUZHA',
 'BAREILLY',
 'TIRORA',
 'ZIRAKPUR',
 'AJMER',
 'MADIKERI',
 'Thrissur',
 'Dungarpur',
 'PANCHKULA',
 'DHOLKA',
 'DALTONGANJ',
 'BATHINDA',
 'KAMATGI,Hunugund taluk,Bagalkot district',
 'ARNI',
 'MORBI',
 'Jorhat',
 'Bantwal',
 'GANJAM',
 'DEWAS',
 'NAGAUR',
 'NEYYATTINKARA',
 'SILIGURI',
 'KUSHALANAGARA',
 'SIMLAPAL',
 'NARKATIAGANJ',
 'Wagholi, PUNE',
 'KOHIMA',
 'Surat',
 'THANE (W)',
 'PORVORIM',
 'Vasai',
 'SANGLI',
 'KOTTAYAM',
 'DHARMADOM',
 'NATHDWARA',
 'Varanasi',
 'ULLAL',
 'NANDED WAGHALA',
 'Sangareddy District',
 'Madurai',
 'thane',
 'BELAGAVI',
 'Kanniyakumari',
 'hyderabad',
 'ISNAPUR',
 'BASUDEBPUR',
 'PUTTAPARTHI',
 'BISWAN',
 'VILLUPURAM',
 'KAMPUR TOWN',
 'BARASAT',
 'Lakkavaram',
 'Hazaribagh',
 'MEERUT CANTT',
 'MATHURA',
 'Naigoan',
 'BHILAI',
 'JIND',
 'SANAND',
 'HOSKOTE',
 'PIMPRI CHINCHWAD',
 'Motihari',
 'davangere',
 'Jetpur',
 'RAIGANJ',
 'Noida extension',
 'DOHAD',
 'KARNAL',
 'Lonavala',
 'DEORIA',
 'Dombivli west',
 'YERRAGUNTLA',
 'Mandi',
 'JODHPUR',
 'SRIPERUMBUDUR',
 'HUBBALLI',
 'Satna',
 'SIDHI',
 'AGARTALA',
 'Durganagar ,Nimta south',
 'DURG',
 'KARIMPUR',
 'MUSTAFABAD',
 'Koothparamba',
 'ERNAKULAM',
 'Kattangal',
 'SIKAR',
 'Ranchi',
 'Dabi',
 'ARWAL',
 'PAKAUR',
 'PHIRANGIPURAM',
 'DHANBAD',
 'PUNJAIPULIAMPATTI',
 'ATTUR',
 'KADAPA',
 'Badlapur',
 'UDAIPURudipur',
 'ADAMPUR',
 'SATHUPALLY',
 'Bhubaneswar',
 'CHAMARAJANAGAR, district and subdistrict',
 'KRISHNAGIRI',
 'TUMAKURU',
 'UNNAO',
 'KAWARDHA',
 'BHANDARA',
 'Ponda',
 'BHILWARA',
 'SOHNA',
 'KANNAMANGALAM ALAPPUZHA DISTRICT',
 'DARWHA',
 'GANDHINAGAR',
 'TIRUR',
 'Dharmapuri',
 'KADUNGALLOOR',
 'mumbai',
 'NELLORE',
 'KANCHEEPURAM',
 'GAUTAM BUDDHA NAGAR',
 'KHANDWA',
 'MURWARA KATNI',
 'MAJHAULIA',
 'DAMAN',
 'MADUKKARAI',
 'Karunagappally',
 'Navi Mumbai',
 'Kalyan West',
 'Sangli',
 'Rishra',
 'Aurangabad',
 'Berhampur',
 'BELTANGADI',
 'Pedaamiram',
 'BIJPUR',
 'WARDHA',
 'FATEHABAD',
 'KADEGAON',
 'KONNAGAR',
 'MULAMTHURUTHY',
 'Totu',
 'UDMA',
 'RAYAGIRI',
 'Navsari',
 'BARNALA',
 'MANDYA',
 'Dombivli(E)',
 'KANCHIPURAM',
 'KANNUR',
 'MUMBAI,Malad West,Malvani.',
 'VILAYAT GIDC',
 'SIPCOT PERUNDURAI',
 'Maraimalainagar',
 'Kishanganj',
 'BETTIAH',
 'Dist Alipurduar',
 'BARSUR',
 'PANMANA',
 'sankra',
 'NAMCHI',
 'Ahemdabad',
 'SIDCUL HARIDWAR',
 'BOISAR',
 'THODUPUZHA',
 'Gurugram',
 'THIRUVIDAIMARUDUR',
 'JHUMRI TILAIYA',
 'LEH',
 'DURGAPUR',
 'JSW STEEL PLANT TOWNSHIP',
 'PUDUPAKKAM',
 'MUGHALSARAI',
 'Colachal, Kanya Kumari District',
 'ANJUNA Bardez Go',
 'NEW TOWN, Kolkata',
 'VARANAS',
 'Edapally',
 'CHAMBA',
 'Vaduthala,Kochi',
 'BETUL BAZAR',
 'VENNANDUR',
 'DAVANAGERE',
 'SALUR',
 'SATARA',
 'Debra',
 'Agartala',
 'EGRA',
 'town.budhana village. Husainpur kalan',
 'TRAL',
 'Panchkula',
 'Lucknow',
 'NAJIBABAD',
 'Greater NOIDA',
 'SRUNGAVARAPUKOTA',
 'TAKHATPUR',
 'MANIYAT',
 'MEDINIPUR',
 'RISHIKESH',
 'Dobiwali',
 'WCL UMRED',
 'SUNDARGARH',
 'SADASIVPET',
 'Thiruvananthapuram',
 'AGRA',
 'LUCKNOWLucknow',
 'dwarka',
 'Kottayam',
 'THOOTHUKKUDI',
 'BAMBOLIM',
 'SONIPAT',
 'chentrappinni',
 'RATNAGIRI',
 'BANGALORE, KARNATAKA',
 'ARNIA',
 'Tirunelveli',
 'PARDI',
 'ETMADPUR',
 'ISAGARH',
 'MORADABAD',
 'Kalyan',
 'joshi road karol bagh new Delhi',
 'AVANIGADDA',
 'RAIGARH MH',
 'Maheswaram mandal',
 'THANE west',
 'KHARAGPUR',
 'NAVSARI',
 'UTEKHOL',
 'Mysore',
 'ANANTAPUR',
 'Payyannur',
 'KARANJA Lad',
 'SAMASTIPUR',
 'OSMANABAD',
 'RAICHUR',
 'ANDIPATTI JAKKAMPATTI',
 'MARGAO',
 'KARWAR',
 'MAHNAR BAZAR',
 'HAZARIBAGH',
 'Vizianagaram a',
 'ARAKONAM',
 'INDUSTRIAL AREA DEVAKATHIKOPPA AND SIDLIPURA',
 'HARIDWAR',
 'PUTTUR',
 'Tuchamakeri',
 'SIWAN',
 'KANDIVALI (E), MUMBAI',
 'Patna',
 'JANGAON',
 'Ernakulam',
 'MERTA CITY',
 'RANNI',
 'DIGRAS',
 'ELURU',
 'NORTH GUWAHATI',
 'KANCHRAPARA',
 'Dindigul',
 'HUGLI CHINSURAH',
 'CHIRAWA',
 'PONDA',
 'HOOVINA HADAGALLI',
 'Ratia',
 'Kakkanadu.Ernakulam',
 'INDRI',
 nan,
 'MUDHOL',
 'Jodhpur',
 'MAHABUBNAGAR',
 'RAJAHMUNDRY',
 'Chidambaram',
 'VADAKARA',
 'THANJAVUR',
 'PARLAKHEMUNDI',
 'BANGAON',
 'BHARUCH',
 'SATTENAPALLI(md),guntur(dt)',
 'MAHINDRA WORLD CITY',
 'GOBARDANGA',
 'chennai',
 'Bihta Patna District',
 'BANDA',
 'DEOGHAR',
 'ALUVA',
 'SOUTH GOA',
 'DHARUHERA',
 'Hisar',
 'AMBALA',
 'DELHI',
 'BUDAUN',
 'UPPER TADONG',
 'VAPI',
 'KHORDHA',
 'DHULE',
 'Gwalior',
 'Thane',
 'Ratanpota',
 'LONI',
 'CHERUTHAZHAM',
 'GUDIYATHAM',
 'Vinukonda',
 'RUDRAPUR',
 'Vikarabad',
 'ANAKAPALLE',
 'RAJKOT',
 'RAIPUR',
 'CHERANALLUR',
 'PALAM',
 'PATHANAMTHITTA',
 'Mauganj',
 'JAMTARA',
 'Port Blair',
 'Paliganj',
 'HSIIDC SOHNA',
 'Konavattam',
 'BIKANER',
 'DERA BASSI INDUSTRIAL AREA',
 'SULUR',
 'BAHERI',
 'PIPARIYA',
 'GURDASPUR',
 'PALACOLE',
 'Vellichantai',
 'Mecheda',
 'THIRUVALLUR',
 'HASSAN (Amazon Arun)',
 'Mohali',
 'TINSUKIA',
 'YAMUNANAGAR',
 'GUNUPUR',
 'NAMAKKAL',
 'LUMDING',
 'agartala',
 'FIROZPUR',
 'MOHALI',
 'SUKDAL',
 'GONDIYA',
 'Burdwan',
 'CHITRADURGA',
 'BODINAYAKANUR',
 'OBRA sonebhadra',
 'MADDUR',
 'KARUR',
 'Cuttack',
 'SEDAM',
 'KASHIPUR',
 'ASANSOL',
 'PUDUKKOTTAI',
 'JALGAON',
 'GIRIDIH',
 'AZHIYUR',
 'Kamtaul',
 'MANDLA',
 'BHIMAVARAM',
 'CHANDIGAR',
 'MUMBAI dadar  west',
 'LACHHMANGARH',
 'SHIVAMOGGA',
 'Bhatapara',
 'HASSAN',
 'JUGAULI',
 'Sambalpur',
 'RATNAPUR',
 'DONGARGARH',
 'FATEHGARH',
 'BINDKI',
 'Navi Mumbai,',
 'PIPILI',
 'BHARWARI',
 'UJJAIN',
 'BIDAR',
 'NAVELIM',
 'KRISHNAPURAM',
 'NARPALA',
 'MADHUBANI',
 'RANIPETTAI',
 'AHMADNAGAR',
 'Hailakandi',
 'Gangapur city',
 'RISOD',
 'Nanded',
 'Noida',
 'BUXAR',
 'MANGATTIDAM',
 'phanigiri road,Chaitanyapuri,Hyderabad',
 'SUPAUL',
 'TIRUNELVELI',
 'PALLIPALAYAM',
 'NEW DELHI-110075',
 'HOWRAH',
 'KOTDWARA',
 'sriganganagar',
 'TIRUPPUR',
 'navi mumbai',
 'KARKAL',
 'DULIAJAN',
 'Andheri',
 'ORATHANADU',
 'GONDAL',
 'NARIKOMBU',
 'PHALTAN',
 'JANGAREDDIGUDEM',
 'KORBA',
 'Delhi',
 'NILOKHERI',
 'Pattambi',
 'THRIKKARUVA',
 'Banswara',
 'DAPOLI',
 'Bellary',
 'TIRUPATI',
 'JHANSI',
 'KARAIKAL',
 'TIRUPATHUR SIVAGANGA DISTRICT',
 'Vazhakkala',
 'Dhasai, shahapur',
 'BAHRAICH',
 'SOLAN',
 'Bhimavaram',
 'Koyyalagudem',
 'CHAMARAJANAGAR',
 'KALIMPONG',
 'BILIMORA',
 'TALIPARAMBA',
 'SHAHADA',
 'UPPALAGUPTAM',
 'VARANGAON',
 'BHATAPARA',
 'BAGRU',
 'ARMUR',
 'PARASI/Anpara',
 'Srikakulam',
 'CHENDAMANGALAM',
 'NASIK',
 'Forbesganj',
 'EDDUMAILARAM',
 'ANKLESHWAR',
 'MIRGANJ',
 'CHENGANNUR',
 'CHOCKLI',
 'Azamgarh',
 'SHEOPUR',
 'Bhatni bazar (Deoria)',
 'ETTUMANOOR',
 'PATAUDI',
 'SULTANPUR',
 'Chittoor District',
 'Kakkanad',
 'VAISHALI',
 'KOLHAPUR',
 'SRIKAKULAM',
 'Navi Mumbai,THANE',
 'Bandel',
 'Ilayangudi, Sivagangai',
 'PANIHATI',
 'MAHESANA',
 'Banaswadi, Bengaluru',
 'Jalgaon',
 'Kancheepuram',
 'PERIYAKULAM',
 'Razam',
 'RAXAUL BAZAR',
 'UDALGURI',
 'BADLI',
 'ahmedabad',
 'BHABHAR',
 'MATTANNUR',
 'VILLIAPPALLY',
 'KARNAPRAYAG',
 'Guntur dist ponnur',
 'BUNGAL',
 'KADIKKAD',
 'Bhilai',
 'THALAKKULATHUR',
 'BHUNTAR',
 'Hooghly',
 'DIGBOI',
 'REWARI',
 'HOSUR',
 'JAGTIAL',
 'CACHAR',
 'BEAWAR',
 'BUTIBORI',
 'Bhiwandi',
 'JAMKHANDI',
 'NEDUMANGAD',
 'Raipur',
 'SRI GANGANAGAR',
 'CHANCHAL',
 'KURUKSHETRA',
 'RAJPUR SONARPUR',
 'LALA',
 'HAILAKANDI',
 'NALGONDA',
 'Coochbehar',
 'PONDYCHERRY',
 'Margao',
 'BALAGHAT',
 'Amtady',
 'HALIYAL',
 'SHAHJAHANPUR',
 'ALLAPALLI',
 'SHAHDOL',
 'BELA PRATAPGARH',
 'UNA',
 'IMPHAL WEST',
 'TAMNAR',
 'UDHAMPUR',
 'ADDAKAL',
 'RAIA',
 'GAGRET INDUSTRIAL AREA',
 'PALLICHAL',
 'SHIVPURI',
 'MUZAFFARNAGAR',
 'Kanpur',
 'KANAKAMMACHATHRAM',
 'Bangalore North',
 'Mahadevapura, Bangalore',
 'PIDUGURALLA',
 'Ramapuram Chennai',
 'Damdim, jalpaiguri',
 'Kalady',
 'ARRAH',
 'PALAI',
 'Visakhapatnam',
 'TITABOR TOWN',
 'NALAGARH',
 'delhi',
 'KANINA',
 'JAMNAGAR',
 'BHACHAU',
 'ADALAJ',
 'Hanumangarh junction',
 'Alipurduat',
 'CHURU',
 'Bilaspur',
 'BALLEPALLE',
 'PANIPAT',
 'SASARAM',
 'TRIVANDRUM',
 'Pollachi',
 'RUSHIKONDA APIIC',
 'BARDHAMAN',
 'RATLAM',
 'PANDARIA',
 'MEDAK',
 'GADHINGLAJ',
 'PIMPRI CHINCHWAD Pune',
 'URAVAKONDA',
 'WALUJ MIDC',
 'Kottakkal',
 'Mukkom',
 'ROBERTSGANJ',
 'JATANI',
 'DEOBAND',
 'Irakasandra',
 'Jamshedpur',
 'Shahdara',
 'Hunsur',
 'Dharwad',
 'Venjarammoodu,thiruvananthapuram',
 'GUA',
 'RAYADURG',
 'MORENA',
 'BULANDSHAHR',
 'PARAVOOR',
 'FATEHPUR FATEHPUR DISTRICT',
 'Pimpri Chinchwad',
 'PATTIOM',
 'Bilimora',
 'Hubballi',
 'KURUD',
 'Vilangad',
 'Durgapur',
 'KANHANGAD',
 'MIRYALAGUDA',
 'Jaipur',
 'Muzzafarnagar',
 'MODINAGAR',
 'TALLAPUDI',
 'MOKOKCHUNG',
 'MUMBAI -400064',
 'Manjeri',
 'TONK',
 'SULLURU',
 'CHIDAMBARAM',
 'BINA',
 'Faridabad',
 'AROOR',
 'TIRUTTANI',
 'SANGAREDDY',
 'Coimbatore',
 'HINDALCO INDUSTRIES LTD',
 'SAHARANPUR',
 'MANNARKAD',
 'Bettiyah',
 'Lathi',
 'Sikar',
 'SHERGHATI',
 'SULYA',
 'Khargone',
 'CURCHOREM',
 'Karur',
 'OOTY',
 'SAHARSA',
 'IROOPARA',
 'Avinashi, Tirupur',
 'Port blair',
 'SITAMARHI',
 'Vasai(west)',
 'MAYILADUTHURAI',
 'KANGRA',
 'dehradun',
 'KANDUKUR',
 'Derlakkatte',
 'THARAMANGALAM',
 'Mathura',
 'BANTVAL',
 'CHITTAURGARH',
 'Anand',
 'BASMATH',
 'IMPHAL East',
 'AMBUR',
 'Vandipettai, Kurukupuram, Rasipuram, Namakkal',
 'VALSAD',
 'Barrackpore',
 'SANGAMNER',
 'PETLAD',
 'Krishna District',
 'MANDVI SURAT DISTRICT',
 'Tumkur district',
 'Jagatdal',
 'Kotra Road ,Raigarh',
 'Danapur',
 'Balaghat',
 'BERI',
 'MAPUSA',
 'GANGTOK',
 'KALAMNURI',
 'PEDAPARUPUDI',
 'RAYACHOTI',
 'GUDUVANCHERY',
 'ICHALKARANJI',
 'SOUTH ANDAMAN',
 'Sabbavaram,Visakhapatnam',
 'Veraval',
 'KRISHNAPUR HUGLI DISTRICT',
 'KOLLEGAL',
 'Kalachowki Mumbai',
 'CURTORIM',
 'P.O.CHIRAKKAL',
 'RAJAM',
 'AMBIKAPUR',
 'Sant kabirnagar.',
 'BangaLore',
 'BAHJOI',
 'P.N.PATTI',
 'CHANDRAPUR',
 'Dombivli-East',
 'RAJGARH DHAR DISTRICT',
 'Ambikapur',
 'BALLY',
 'KANJIKODE INDUSTRIAL AREA',
 'NAKREKAL',
 'SAGAR',
 'Kandivali (W)',
 'MUMBAI 400023',
 'NEW DELHIhbjo',
 'BAHADURGARH',
 'MANDI DABWALI',
 'PEDDAPURAM',
 'NADIM TIRUVURU',
 'gorakhpur',
 'Panaji',
 ...]

In [22]:
cities[1]

'BENGALURU'

In [ ]:
api_key = "AIzaSyBXt_sejCaavuLglZZrD-uSeWrvfC525qY"  # Replace with your API key
city_coordinates = {}

for city in cities:
    lat, lon = get_lat_long_google(city, api_key)
    city_coordinates[city] = (lat, lon)

print(city_coordinates)